// CSS Style

body{
  background-color: #fafad2;
}

.characters{
  display: flex;
  padding: 10px;
  flex: 1;
  grid-template-columns: auto;
}

.myCharacter {
  //left: 0px;
}

.enemyCharacter {
  //right: 0px;
}

//parameter