// CSS Style

body{
  background-color: #fafad2;
}


.characters{
  display: flex;
  padding: 10px;
  flex: 1;
  grid-template-columns: auto;
}

.CharacterPicture {
  width: 100px;
  height: 100px;

}

.tapBottun{

}

.vsText{
  text-align: center;
}

.sliderContainer{
  position: relative;
}

.targetZone {
  position: absolute;
  top: 0;
  z-index: 2;
}
