
body{
  background-color: #fafad2;
}

.titleLogoHead{
  display: flex;
  justify-content: center;
  width: 270px;
  height: 130px;
  object-fit: contain;
}

.titleLogoMiddle{
  display: flex;
  justify-content: center;
  width: 375px;
  height: 130px;
  object-fit: contain;
}

.titleLogoUnder{
  display: flex;
  justify-content: center;
  width: 70px;
  height: 30px;
  object-fit: contain;
}

.startBottun{
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  height: 50px;
  gap : 10px;
  align-items:center;
}

.Bottun{
  width: 200px;
  display: flex;
  justify-items: auto;
  justify-content: center;
}

.screenContainer{
  display: flex;
  //justify-content: center;
  align-items: center;
  flex-direction: column;
}


