
body{
  background-color: #fafad2;
}

.titleLogoHead{
  display: flex;
  justify-content: center;
  width: 375px;
  height: 210px;
  object-fit: contain;
}

.titleLogoMiddle{
  display: flex;
  justify-content: center;
  width: 375px;
  height: 130px;
  object-fit: contain;
}

.startBottun{
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  height: 50px;
  gap : 10px;
  align-items:center;
}

.Bottun{
  width: 200px;
  display: flex;
  justify-items: auto;
  justify-content: center;
}

.screenContainer{
  display: flex;
  //justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}

.loader {
  width: 120px;
  height: 20px;
  -webkit-mask: linear-gradient(90deg,#000 70%,#0000 0) left/20% 100%;
  background:
          linear-gradient(#000 0 0) left -25% top 0 /20% 100% no-repeat
          #ddd;
  animation: l7 1s infinite steps(6);
}
@keyframes l7 {
  100% {background-position: right -25% top 0}
}
